<div class = "back-box">

<div class = "send-first-box">
 
<div class = "header">
   <div class="header-list">
       <ul>
         <% if user_signed_in? %>
           <li><%= link_to 'ホーム', :controller => "home", :action => "index" %></li>
           <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete , class: "logout_button"%></li>
           <li><%= link_to "マイページ", user_path(current_user.id) %></li>
         <% else %>
           <li><%= link_to 'ホーム', home_index_path %></li>
           <li><%= link_to "新規登録", new_user_registration_path %></li>
           <li><%= link_to "ログイン", new_user_session_path %></li>
         <% end %>
       </ul>
   </div>
</div>

<div class = "contents-title">
場所をさがす
</div>

</div>

<div class = "send-second-box">
  <div class = "second-sub-box">
    <div class = "search-box">

      <%= form_tag({controller:"sends",action:"shop"}, method: :get) do %>
        <%= text_field_tag :search, placeholder="国名/県名/地名"%>
        <%= button_tag type: "submit", class: "btn btn-default" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>  

    <div class="btn-gradient">
      <span><%= link_to "新規投稿", new_send_path %></span>
      <i class="fas fa-arrow-alt-circle-right fa-fw"></i>
    </div>
  </div>  

  <div class = "send-content-box">

    <div class="category">
      <input type="radio" name="radioTab" class="tab-item" id="tab1">  
        <label for="tab1"><%= link_to "スポット", sends_spot_path %> <i class="fa-solid fa-map-location-dot"></i></label>
      <input type="radio" name="radioTab" class="tab-item" checked="" id="tab2">
        <label for="tab2">お店 <i class="fa-solid fa-store"></i></label>
      <input type="radio" name="radioTab" class="tab-item" id="tab3">  
        <label for="tab3"><%= link_to "宿", sends_accommodation_path %> <i class="fa-solid fa-bed"></i></label>
    </div>

    <div class = "main">

      <div class="send-containers">
        <div class = "each-container">
          <% @shops.each do |t| %>
              <h3><%= t.title %></h3>
              <p>住所:<%= t.address %></p>
              <p>アクセス:<%= t.access %></p>
              <p>詳細:<%= t.detail %></p>

            <div>
              <h5>おすすめ度：
              <span class="star-rating">
              <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
              <span class="star-rating-back">★★★★★</span>
              </span> 
              </h5>
            </div>

            <%= link_to "詳細へ", send_path(t.id) %>
            
          <% end %>
        </div>  
      </div>

      <div class = "google-map">
        <div id='map'></div>

          <script>
              function initMap() {

                let latlng = new google.maps.LatLng(38.60, 139.5);
            
                let styles = [
                    {
                      stylers: [
                      { "saturation": 0 },
                      { "lightness": 0 }
                      ]
                    }
                    ];

                let map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5.5,
                    styles: styles,
                    center: latlng
                });
                let transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);

                <% @shops.each do |shop|%>
                  ( function() { 
                    let markerLatLng = { lat: <%= shop.latitude %>, lng: <%= shop.longitude %> }; 
                    let marker = new google.maps.Marker({ 
                      position: markerLatLng, 
                      map: map 
                    });

                    let infowindow = new google.maps.InfoWindow({
                      position: markerLatLng,
                      content: "<a href='<%= send_url(shop.id) %>' target='_blank'><h5><%= shop.title %></h5><%= shop.detail %></a>"
                    }); 
                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });

                })();
                <% end %>

            }
          </script>

          <script  async 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXUvaxi2f8wQUIgbH1uh-WNjLplM-J2eg&callback=initMap">
          </script>
      </div>

    </div>

  </div>

</div>

</div>
